<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"><head>

  <link REL="shortcut icon" HREF="favicon.ico"/>

	<title><?php if($_SESSION['access'] == ADMIN){ echo 'Admin Control Panel - TravianX'; } else if($_SESSION['access'] == MULTIHUNTER){ echo 'Multihunter Control Panel - TravianX'; } ?></title>    

	<link rel=stylesheet type="text/css" href="../img/admin/admin.css">

	<link rel=stylesheet type="text/css" href="../img/admin/acp.css">

	<link rel=stylesheet type="text/css" href="../img/../img.css">

		<script src="mt-full.js?423cb"  type="text/javascript"></script>

	<script src="ajax.js" type="text/javascript"></script>



	<meta http-equiv="content-type" content="text/html; charset=UTF-8">

	<meta http-equiv="imagetoolbar" content="no">

</head>
<?php 
#################################################################################
##              -= YOU MAY NOT REMOVE OR CHANGE THIS NOTICE =-                 ##
## --------------------------------------------------------------------------- ##
##  Filename       admin_log.tpl                                               ##
##  Developed by:  Dzoki                                                       ##
##  License:       TravianX Project                                            ##
##  Copyright:     TravianX (c) 2010-2011. All rights reserved.                ##
##                                                                             ##
#################################################################################

if($_SESSION['access'] < ADMIN) die("Access Denied: You are not Admin!"); ?>

<?php


//define('PREFIX', TB_PREFIX); 
 

$logins = mysql_query("SELECT * FROM ".TB_PREFIX."login_log"); 
while($login = mysql_fetch_assoc($logins)) { 
    if (count($login_list)) { 
        if (!isset($login_list[$login['ip']][$login['uid']])) { 
            $login_list[$login['ip']][$login['uid']] = $login; 
        } 
    } 
    else { 
        $login_list[$login['ip']][$login['uid']] = $login; 
    } 
} 

if (count($login_list)) { 
    foreach ($login_list as $ip => $data) { 
        if (count($login_list[$ip]) > 1) { 
            $multi_accounts[$ip] = $data; } 
    } 
} 
?>
</br>
<table id="profile">
<thead>
<tr><th colspan="3">Multi Account Detect</th></tr>
<td class="b">Player</td>
<td class="b">IP</td>
</thead>
<tbody>

     <div align="center">
       <?php
if (count($multi_accounts)) { 
    foreach ($multi_accounts as $uid => $data) { 
        $output = ""; foreach ($data as $dataB) { 
            $data_new[] = $dataB; } 

        foreach ($data_new as $index => $multiaccount_data) { 
            $userdata[] = mysql_fetch_assoc(mysql_query("SELECT * FROM ".TB_PREFIX."users WHERE id = ".$multiaccount_data['uid'])); } 

foreach ($userdata as $u) { 
                $output[] = '<a href="spieler.php?uid='.$u['id'].'">'.$u['username'].'</a>'; }
?>
     </div>
     <tr > 
        <td >
            <div align="center">
              <?php
            	echo $output = implode(' and ', $output); 
             ?>
            </div></td>
        <td > 
            <div align="center">
              <?php
            	echo $data_new[0]['ip']; 
             ?>
            </div></td> 
	</tr>
     <div align="center">
       <?php
     } 
} 
else { 
    die("No multiaccounts found");  
} 
echo '</tbody></table>'; 		 

?>
       
       
       
       
       
       
     </div>
