<!--
** Made by: Dzoki
** - TravianX -
** DO NOT REMOVE COPYRIGHT NOTICE!
-->
<?php
include("Templates/Plus/pmenu.tpl");$extragoud="0";
?>

<script type="text/javascript">
<!--
function loadProductGroup(group_id) {
    if (group_id.length == 0){
        path='';
    } else {
        path='?group='+group_id;
    }

    location.href=path;
}
//-->
</script>



<div id="products">
                            <table class="product lang_ltr lang_en" cellpadding="1" cellspacing="1">
                                <thead>
                                        <tr>
                                                <th>Package A</th>
                                        </tr>
                                </thead>
                                <tbody>


                                                                                <tr>
                                                <td class="pic"><a

                                                        href="">
                                                        <img src="http://content.tg-payment.com/content/img/products/Travian_paket_a.jpg" style="width:

                                                        99px; height:99px;"

                                                         alt="Package A" /></a></td>
                                        </tr>
                                        <tr>
                                                <td>30&nbsp;Gold</td>
                                        </tr>
                                        <tr>
                                                <td>1.00&nbsp;USD</td>

                                        </tr>
                                        <tr>
                                                <td><form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="ZAPMM5TASPU7E">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</td>
                                        </tr>
                                                                        </tbody>
                        </table>
                            <table class="product lang_ltr lang_en" cellpadding="1" cellspacing="1">
                                <thead>
                                        <tr>
                                                <th>Package B</th>
                                        </tr>
                                </thead>
                                <tbody>


                                                                                <tr>
                                                <td class="pic"><a

                                                        href="">
                                                        <img src="http://content.tg-payment.com/content/img/products/Travian_paket_b.jpg" style="width:

                                                        99px; height:99px;"

                                                         alt="Package B" /></a></td>
                                        </tr>
                                        <tr>
                                                <td>100&nbsp;Gold</td>
                                        </tr>
                                        <tr>
                                                <td>3.00&nbsp;USD</td>

                                        </tr>
                                        <tr>
                                                <td><form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="MUA3TCPTLCDUN">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</td>
                                        </tr>
                                                                        </tbody>
                        </table>
                            <table class="product lang_ltr lang_en" cellpadding="1" cellspacing="1">
                                <thead>
                                        <tr>
                                                <th>Package C</th>
                                        </tr>
                                </thead>
                                <tbody>


                                                                                <tr>
                                                <td class="pic"><a

                                                        href="">
                                                        <img src="http://content.tg-payment.com/content/img/products/Travian_paket_c.jpg" style="width:

                                                        99px; height:99px;"

                                                         alt="Package C" /></a></td>
                                        </tr>
                                        <tr>
                                                <td>250&nbsp;Gold</td>
                                        </tr>
                                        <tr>
                                                <td>6.00&nbsp;USD</td>

                                        </tr>
                                        <tr>
                                                <td><form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="E7S4ZVLCK4V8N">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form></td>
                                        </tr>
                                                                        </tbody>
                        </table>
                            <table class="product lang_ltr lang_en" cellpadding="1" cellspacing="1">
                                <thead>
                                        <tr>
                                                <th>Package D</th>
                                        </tr>
                                </thead>
                                <tbody>


                                                                                <tr>
                                                <td class="pic"><a

                                                        href="">
                                                        <img src="http://content.tg-payment.com/content/img/products/Travian_paket_d.jpg" style="width:

                                                        99px; height:99px;"

                                                         alt="Package D" /></a></td>
                                        </tr>
                                        <tr>
                                                <td>600&nbsp;Gold</td>
                                        </tr>
                                        <tr>
                                                <td>12.00&nbsp;USD</td>

                                        </tr>
                                        <tr>
                                                <td><form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="RFTJWJQW47QHU">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</td>
                                        </tr>
                                                                        </tbody>
                        </table>
                            <table class="product lang_ltr lang_en" cellpadding="1" cellspacing="1">
                                <thead>
                                        <tr>
                                                <th>Package E</th>
                                        </tr>
                                </thead>
                                <tbody>


                                                                                <tr>
                                                <td class="pic"><a

                                                        href="">
                                                        <img src="http://content.tg-payment.com/content/img/products/Travian_paket_e.jpg" style="width:

                                                        99px; height:99px;"

                                                         alt="Package E" /></a></td>
                                        </tr>
                                        <tr>
                                                <td>1600&nbsp;Gold</td>
                                        </tr>
                                        <tr>
                                                <td>34.00&nbsp;USD</td>

                                        </tr>
                                        <tr>
                                                <td><form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="X5G8NT6H3XNMS">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</td>
                                        </tr>
                                                                        </tbody>
                        </table>
                            <table class="product lang_ltr lang_en" cellpadding="1" cellspacing="1">
                                <thead>
                                        <tr>
                                                <th>Voucher</th>
                                        </tr>
                                </thead>
                                <tbody>


                                                                                <tr>
                                                <td class="pic"><a href="#" class="voucher" onclick="window.open('/voucher.php','voucher','scrollbars=yes,status=yes,resizable=yes,toolbar=yes,width=800,height=600');return false;">
                                                        <img src="http://content.tg-payment.com/content/img/products/Travian_voucher_b.jpg" style="width:

                                                        99px; height:99px;"

                                                         alt="Voucher" /></a></td>
                                        </tr>
                                        <tr>
                                                <td>Your Option</td>
                                        </tr>
                                        <tr>
                                                <td>
                                                <font color="gray">(ID operator)</font
                                                </td>
                                        </tr>
                                        <tr>
                                                <td>
                                                        <a href="#" class="voucher" onclick="window.open('/voucher.php','voucher','scrollbars=yes,status=yes,resizable=yes,toolbar=yes,width=800,height=600');return false;">
                                                &raquo; Buy                                                </a>
                                                </td>
                                        </tr>
                                                                        </tbody>
                        </table>
                        <table class="product lang_ltr lang_en" cellpadding="1" cellspacing="1">
                                <thead>
                                        <tr>
                                                <th><font color="red">Rules</font></th>
                                        </tr>
                                </thead>
                                <tbody>
                                <tr><td>
                                after you buy the product, you should report to the Multihunter.
                                <br/>to activate your product within 24 hours.
                                </td></tr>

                                                                        </tbody>
                        </table>


<div class="clear"></div>
<div style="padding: 10px 10px; font-style: italic; font-size: 10px;">All prices listed are final sales amounts.</div>

</div>
<h1>Donate for the <?php echo SERVER_NAME ?></h1>
<?php echo SERVER_NAME ?> has written the script that this server is using. Script is free at the moment, so keep it that way by donating small anmount!<br/><br/>
<center><form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="9GUP874LYUYTA">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


(paypal check-out)
</center><br><br/>

</div>
